<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Widget\Model\Widget">
        <plugin name="Develo_HyvaWidgets_Image_Uploader_Plugin" type="Develo\HyvaWidgets\Plugin\Widget" sortOrder="1" disabled="false"/>
    </type>

        <type name="Magento\Widget\Model\Widget">
        <plugin name="hyva_wysiwyg_widget_plugin" type="Develo\HyvaWidgets\Plugin\Widget"
                sortOrder="1"/>
    </type>
    <type name="Magento\Cms\Block\Adminhtml\Wysiwyg\Images\Content">
        <plugin name="hyva_wysiwyg_image_content" type="Develo\HyvaWidgets\Plugin\WysiwygImagePlugin"/>
    </type>
</config>
